.audio-controls-container {
    display: flex;
    justify-content: space-between;
}

.audio-control-button {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    font-size: 1.2em;
    color: black;
    padding: 5px;
}

.audio-control-button:hover {
    cursor: pointer;
}

.track-controls-container {
    display: flex;
}

.other-controls-container {
    display: flex;
    align-items: center;
}

.play-pause-button {
    align-items: center;
    font-size: 1.4em;
}