.audio-player-container {
    display: flex;
    min-width: 350px;
    max-width: 500px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    padding: 5px;
    overflow: hidden;
}


.player {
    display: flex;
}

.playlist-container {
    flex: 1;
    overflow-y: auto;
    min-height: 300px;
    padding-top: 18px;
    max-height: 500px;
}

.cover {

    display: flex;
    width: 120px;
    height: 120px;
    border-radius: 8px;
}

.info {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-content: flex-start;
    padding-left: 8px;
}

.current-track-title {
    font-size: 1.8em;
    font-weight: bold;
}