.audio-player-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    overflow: hidden;
    min-width: 320px;
    justify-content: center;
    padding: 5px;
}

.player {
    display: flex;
}

.playlist-container {
    padding-top: 18px;
}

.cover {
    display: flex;
    width: 120px;
    height: 120px;
    border-radius: 8px;
}

.info {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-content: flex-start;
    padding-left: 8px;
}

.current-track-title {
    /*
    background: linear-gradient(90deg,
            #BB444A, #779D64, #39538A, #53435F, #F5AF5A,
            #BB444A, #779D64, #39538A, #53435F, #F5AF5A,
            #BB444A, #779D64, #39538A, #53435F, #F5AF5A);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    */
    font-size: 1.8em;
    font-weight: bold;
}