.playlist {
    list-style: none;
    padding: 0;
    margin: 0;
}

.playlist li {
    display: flex;
    padding: 5px;
    cursor: pointer;
}

.playlist li:hover {
    background: #f0f0f0;
}

.playlist li:hover .overlay {
    opacity: 1;
    /* Zeigt das Overlay beim Hover an */
}

.list-cover {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.list-song-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-bottom: 5px;
    justify-content: end;
}

.info-title {
    font-size: 1.2em;
    font-weight: bold;
}

.info-artist {
    font-size: 0.8em;
    color: #666;
}

.list-duration {
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-left: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Halbtransparentes schwarzes Overlay */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 5px;
}

.list-cover-container {
    position: relative;
    /* Stellt sicher, dass das Overlay relativ zu diesem Element positioniert wird */
    width: 50px;
    height: 50px;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar {
    width: 4px;
    margin: 2px;
    height: 30%;
    background-color: #3498db;
    animation: grow-shrink 1.5s infinite;
}

@keyframes grow-shrink {

    0%,
    100% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(2);
    }
}