.player {
    display: flex;
    padding: 10px;
    width: 100%;
}

.cover {
    display: flex;
    border-radius: 10px !important;
    width: 120px;
    height: 120px;
}

.info {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-content: flex-start;
}